.albums {
  height: 1000px;
  background-color: #191716;
  padding: 100px 8%; }
  .albums-title {
    text-align: center;
    font-weight: 700;
    font-size: 1em;
    color: white;
    font-family: 'Montserrat', sans-serif; }
  .albums-grid {
    height: 2000px; }

.grid-item {
  width: 150px;
  height: 150px; }
  .grid-item img {
    width: 140px;
    height: 140px; }

.grid-item--width2 {
  width: 300px;
  height: 153px; }
  .grid-item--width2 img {
    width: 290px;
    height: 143px; }
