@import '../../../styles/variables.scss';
.albums {
  height: 1000px;
  background-color: $darkGray;
  padding: 100px 8%;
  &-title {
    text-align: center;
    font-weight: 700;
    font-size: 1em;
    color: white;
    font-family: 'Montserrat', sans-serif;
  }
  &-grid {
    height: 2000px;
  }
}

.grid-item {
  width: 150px;
  height: 150px;
  img {
    width: 140px;
    height: 140px;
  }
}

.grid-item--width2 {
  width: 300px;
  height: 153px;
  img {
    width: 290px;
    height: 143px;
  }
}