.clickedalbum {
  height: 2200px;
  width: 100%;
  display: flex;
  background-color: #191716;
  align-content: center;
  justify-content: center;
  padding-top: 0px; }
  .clickedalbum-gutters {
    padding: 0 3%; }
    @media (min-width: 768px) {
      .clickedalbum-gutters {
        padding: 150px 15%; } }
  .clickedalbum h1 {
    text-align: left;
    font-size: 1.1em;
    color: white;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    padding-left: 10px;
    opacity: 0.85; }
    @media screen and (min-width: 480px) {
      .clickedalbum h1 {
        font-size: 1.6em; } }
    @media screen and (min-width: 580px) {
      .clickedalbum h1 {
        font-size: 1.8em; } }
    @media (min-width: 768px) {
      .clickedalbum h1 {
        font-size: 1.8em;
        position: absolute;
        transform: translate(-85px, -55px); } }
    @media (min-width: 992px) {
      .clickedalbum h1 {
        font-size: 2em; } }
    @media (min-width: 1200px) {
      .clickedalbum h1 {
        font-size: 2.5em;
        position: absolute;
        transform: translate(-120px, -80px); } }
  .clickedalbum-image img {
    display: block;
    width: 100%;
    margin: 0 auto; }
  .clickedalbum-image-nav {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly; }
    .clickedalbum-image-nav-button {
      width: 48%;
      height: 50px;
      margin-top: 8px;
      line-height: 50px; }
      .clickedalbum-image-nav-button p {
        cursor: pointer;
        height: 100%;
        width: 100%;
        line-height: 50px;
        color: white;
        font-size: 0.9em;
        opacity: 0.8;
        transition: 0.2s ease; }
        @media (min-width: 768px) {
          .clickedalbum-image-nav-button p {
            font-size: 1.1em; } }
        @media (min-width: 1200px) {
          .clickedalbum-image-nav-button p {
            font-size: 1.2em; } }
        .clickedalbum-image-nav-button p:hover {
          transition: 0.2s ease;
          opacity: 1;
          color: #FFA949; }
  .clickedalbum .right {
    text-align: right; }
  .clickedalbum .left {
    text-align: left; }
  .clickedalbum-desc {
    padding-top: 20px;
    width: 280px;
    color: white;
    position: absolute; }
    @media screen and (min-width: 400px) {
      .clickedalbum-desc {
        width: 380px;
        font-size: 1.1em; } }
    @media screen and (min-width: 600px) {
      .clickedalbum-desc {
        width: 580px;
        font-size: 1.1em; } }
    @media (min-width: 992px) {
      .clickedalbum-desc {
        width: 650px;
        font-size: 1.4em; } }
    @media (min-width: 1200px) {
      .clickedalbum-desc {
        width: 830px;
        font-size: 1.6em; } }
