.lol {
  height: 2000px;
  width: 100%;
  background-color: #191716;
  padding: 100px 25%; }
  .lol h1 {
    color: white; }
  .lol img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    max-width: 50%; }
