.clickedalbum {
  height: 1000px;
  width: 100%;
  background-color: #191716;
  display: flex;
  align-content: center;
  justify-content: center;
  padding-top: 150px; }
  .clickedalbum-gutters {
    padding: 0 3%; }
  .clickedalbum h1 {
    text-align: center;
    font-size: 1em;
    color: white;
    font-weight: 700;
    width: 235px;
    font-family: 'Montserrat', sans-serif; }
  .clickedalbum-image img {
    display: block;
    width: 100%;
    margin: 0 auto; }
    @media (min-width: 768px) {
      .clickedalbum-image img {
        height: 436.8px; } }
  .clickedalbum-image-nav {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    .clickedalbum-image-nav-button {
      width: 49%;
      height: 50px;
      margin-top: 8px;
      background-color: white; }
