@import '../../../../styles/variables.scss';

.lol {
  height: 2000px;
  width: 100%;
  background-color: $darkGray;
  padding-top: 100px;
  h1 {
    color: white;
  }
  img {
    height: 600px;
    width: 600px;
  }
}