@import '../../../../styles/variables.scss';
.clickedalbum {
  height: 1000px;
  width: 100%;
  display: flex;
  background-color: $darkGray;
  align-content: center;
  justify-content: center;
  padding-top: 100px;
  &-gutters {
    padding: 0 3%;
    @include breakpoint(sm) {
      padding: 150px 15%;
    }
  }
  h1 {
    text-align: left;
    font-size: 1.1em;
    color: white;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    padding-left: 10px;
    opacity: 0.85;
    @media screen and (min-width: 480px) {
      font-size: 1.6em;
    }
    @media screen and (min-width: 580px) {
      font-size: 1.8em;
    }
    @include breakpoint(sm) {
      font-size: 1.8em;
      position: absolute;
      transform: translate(-85px, -55px);
    }
    @include breakpoint(md) {
      font-size: 2em;
    }
    @include breakpoint(lg) {
      font-size: 2.5em;
      position: absolute;
      transform: translate(-120px, -80px);
    }
  }
  &-image {
    img {
      display: block;
      width: 100%;
      margin: 0 auto;
    }
    &-nav {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      &-button {
        width: 48%;
        height: 50px;
        margin-top: 8px;
        line-height: 50px;
        p {
          cursor: pointer;
          height: 100%;
          width: 100%;
          line-height: 50px;
          color: white;
          font-size: 0.9em;
          opacity: 0.8;
          transition: 0.2s ease;
          @include breakpoint(sm) {
            font-size: 1.1em;
          }
          &:hover {
            transition: 0.2s ease;
            opacity: 1;
            color: $orange;
          }
        }
      }
    }
  }
  .right {
    text-align: right;
  }
  .left {
    text-align: left;
  }
}