@keyframes fade-in {
  0% {
    opacity: 0; }
  10% {
    opacity: 0.35; }
  100% {
    opacity: 1; } }

.landing {
  height: 2300px;
  background-color: #EEEEE6;
  animation: fade-in;
  animation-duration: 0.9s; }
  .landing-background {
    background: url(http://res.cloudinary.com/dmjolhdaq/image/upload/q_auto/v1524694781/mobilepic.jpg) no-repeat center center;
    background-size: cover;
    height: 500px; }
    @media (min-width: 768px) {
      .landing-background {
        background: url(http://res.cloudinary.com/dmjolhdaq/image/upload/q_auto/v1524694782/comp.jpg) no-repeat center center;
        background-size: cover;
        height: 620px; } }
    @media (min-width: 992px) {
      .landing-background {
        height: 800px; } }
    @media (min-width: 1200px) {
      .landing-background {
        height: 1000px; } }
    @media screen and (min-width: 1450px) {
      .landing-background {
        height: 1200px; } }
    @media screen and (min-width: 1750px) {
      .landing-background {
        height: 1248px; } }
    @media screen and (min-width: 1950px) {
      .landing-background {
        height: 1500px; } }
    @media screen and (min-width: 2550px) {
      .landing-background {
        height: 2300px; } }
    @media screen and (min-width: 3000px) {
      .landing-background {
        height: 100vw; } }
  .landing-info {
    position: absolute;
    text-align: center;
    font-weight: 700;
    font-size: 1.2em;
    width: 235px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 50px;
    color: black; }
    .landing-info-date {
      color: #FFA949; }
    @media screen and (max-width: 500px) {
      .landing-info {
        width: 120px; } }
    @media (min-width: 768px) {
      .landing-info {
        visibility: hidden; } }
  .landing-title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    position: absolute; }
    .landing-title img {
      width: 182px; }
      @media screen and (min-width: 420px) {
        .landing-title img {
          width: 200px; } }
    @media (min-width: 768px) {
      .landing-title {
        visibility: hidden; } }

.mobile-block {
  background-color: #EEEEE6;
  height: 180px; }
