@import '../../styles/variables.scss';

.landing {
  height: 2300px;
  background-color: $offWhite;
  &-background {
    background: url(../../images/mobilepic.jpg)no-repeat center center;
    background-size: cover;
    height: 500px;
    @include breakpoint(sm) {
      background: url(../../images/comp.jpg)no-repeat center center;
      background-size: cover;
      height: 620px;
    }
    @include breakpoint(md) {
      height: 800px;
    }
    @include breakpoint(lg) {
      height: 1000px;
    }
    @media screen and (min-width: 1450px) {
      height: 1200px;
    }
    @media screen and (min-width: 1750px) {
      height: 1248px;
    }
    @media screen and (min-width: 1950px) {
      height: 1500px
    }
    @media screen and (min-width: 2550px) {
      height: 2300px
    }
    @media screen and (min-width: 3000px) {
      height: 100vw;
    }
  }
  &-info {
    position: absolute;
    text-align: center;
    font-weight: 700;
    font-size: 1.2em;
    width: 235px;
    font-family: 'Montserrat', sans-serif;
    @include absolutecenter(x);
    margin-top: 50px;
    color: black;
    &-date {
      color: $orange
    }
    @media screen and (max-width: 500px) {
      width: 120px;
    }
    @include breakpoint(sm) {
      visibility: hidden;
    }
  }
  &-title {
    @include absolutecenter(x);
    position: absolute;
    img {
      width: 182px;
      @media screen and (min-width: 420px) {
        width: 200px;
      }
    }
    @include breakpoint(sm) {
      visibility: hidden;
    }
  }
}

// spacing for the mobile only title beneath background
.mobile-block {
  height: 180px;
}

