@import '../../../styles/variables.scss';
.nexttour {
  margin-top: 100px;
  padding: 0 10%;
  font-weight: 800;
  font-family: 'Montserrat', sans-serif;
  &-title {
    text-align: center;
  }
  &-image {
    display: flex;
    justify-content: center;
    img {
      height: auto;
      display: block;
      width: auto;
      max-width: 280px;
      max-height: 186px;
      filter: grayscale(100);
      @media screen and (min-width: 400px) {
        max-width: 400px;
        max-height: 249px;
      }
      @media screen and (min-width: 600px) {
        max-width: 500px;
        max-height: 311px;
      }
      @include breakpoint(sm) {
        max-width: 600px;
        max-height: 373px;
      }
      @include breakpoint(md) {
        max-width: 800px;
        max-height: 498px;
      }
      @include breakpoint(lg) {
        max-width: 1000px;
        max-height: 623px;
      }
    }
  }
  &-date {
    @include absolutecenter(both);
    position: relative;
    transform: translate(-120px,-180px);
    @media screen and (min-width: 400px) {
      transform: translate(-180px,-240px);
      font-size: 1.3em;
    }
    @media screen and (min-width: 600px) {
      transform: translate(-220px,-300px);
      font-size: 1.5em;
    }
    @include breakpoint(sm) {
      transform: translate(-280px,-350px);
      font-size: 1.9em;
    }
    @include breakpoint(md) {
      transform: translate(-370px,-480px);
      font-size: 2.4em;
    }
    @include breakpoint(lg) {
      transform: translate(-470px,-600px);
      font-size: 3.1em;
    }
    &-day {
      font-size: 1.7em;
    }
  }
}