.nexttour {
  margin-top: 100px;
  padding: 0 10%; }
  .nexttour-image {
    display: flex;
    justify-content: center; }
    .nexttour-image img {
      height: auto;
      display: block;
      width: auto;
      max-width: 280px;
      max-height: 186px;
      filter: grayscale(100); }
      @media screen and (min-width: 400px) {
        .nexttour-image img {
          max-width: 400px;
          max-height: 249px; } }
      @media screen and (min-width: 600px) {
        .nexttour-image img {
          max-width: 500px;
          max-height: 311px; } }
      @media (min-width: 768px) {
        .nexttour-image img {
          max-width: 600px;
          max-height: 373px; } }
      @media (min-width: 992px) {
        .nexttour-image img {
          max-width: 800px;
          max-height: 498px; } }
      @media (min-width: 1200px) {
        .nexttour-image img {
          max-width: 1000px;
          max-height: 623px; } }
  .nexttour-date {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: relative;
    font-weight: 800;
    font-family: 'Montserrat', sans-serif;
    transform: translate(-120px, -180px); }
    @media screen and (min-width: 400px) {
      .nexttour-date {
        transform: translate(-180px, -240px);
        font-size: 1.3em; } }
    @media screen and (min-width: 600px) {
      .nexttour-date {
        transform: translate(-220px, -300px);
        font-size: 1.5em; } }
    @media (min-width: 768px) {
      .nexttour-date {
        transform: translate(-280px, -350px);
        font-size: 1.9em; } }
    @media (min-width: 992px) {
      .nexttour-date {
        transform: translate(-370px, -480px);
        font-size: 2.4em; } }
    @media (min-width: 1200px) {
      .nexttour-date {
        transform: translate(-470px, -600px);
        font-size: 3.1em; } }
    .nexttour-date-day {
      font-size: 1.7em; }
