.nexttour {
  padding: 130px 10%;
  background-color: #EEEEE6;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif; }
  .nexttour-hover {
    cursor: pointer; }
    .nexttour-hover-text {
      visibility: hidden; }
  .nexttour-title {
    font-size: 0.8em;
    text-align: center; }
    @media (min-width: 768px) {
      .nexttour-title {
        font-size: 1em; } }
  .nexttour-image {
    display: flex;
    justify-content: center; }
    .nexttour-image img {
      opacity: 1;
      transition: 0.2s ease;
      cursor: pointer;
      border-radius: 5px;
      height: auto;
      display: block;
      width: auto;
      max-width: 280px;
      max-height: 186px;
      filter: grayscale(100); }
      @media screen and (min-width: 400px) {
        .nexttour-image img {
          max-width: 380px;
          max-height: 259px; } }
      @media screen and (min-width: 600px) {
        .nexttour-image img {
          max-width: 500px;
          max-height: 311px; } }
      @media (min-width: 768px) {
        .nexttour-image img {
          max-width: 600px;
          max-height: 373px; } }
      @media (min-width: 992px) {
        .nexttour-image img {
          max-width: 800px;
          max-height: 498px; } }
      @media (min-width: 1200px) {
        .nexttour-image img {
          max-width: 1000px;
          max-height: 623px; } }
      .nexttour-image img:hover {
        transition: 0.2s ease;
        opacity: 0.85; }
  .nexttour-date {
    cursor: pointer;
    text-align: left;
    position: relative;
    z-index: 2;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    transform: translate(-120px, 0px); }
    @media screen and (min-width: 400px) {
      .nexttour-date {
        transform: translate(-170px, 0px);
        font-size: 1.3em; } }
    @media screen and (min-width: 600px) {
      .nexttour-date {
        transform: translate(-220px, 0px);
        font-size: 1.6em; } }
    @media (min-width: 768px) {
      .nexttour-date {
        transform: translate(-270px, 0px);
        font-size: 1.9em; } }
    @media (min-width: 992px) {
      .nexttour-date {
        transform: translate(-370px, 0px);
        font-size: 2.4em; } }
    @media (min-width: 1200px) {
      .nexttour-date {
        transform: translate(-470px, 0px);
        font-size: 3.1em; } }
    .nexttour-date-day {
      font-size: 1.7em; }
  .nexttour-button {
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
    width: 100%;
    display: flex;
    max-width: 1535px;
    flex-wrap: wrap;
    justify-content: center; }
    .nexttour-button .button {
      margin-bottom: 20px; }
      @media (min-width: 768px) {
        .nexttour-button .button {
          margin-right: 10px; } }
    .nexttour-button .ticketsbutton {
      opacity: 1;
      background-color: #FFA949; }
    @media (min-width: 992px) {
      .nexttour-button {
        flex-wrap: nowrap;
        display: flex;
        justify-content: space-evenly; } }
