@import 'variables.scss';
.landing {
  height: 1700px;
  background-color: $offWhite;
  &-background {
    background: url(../images/mobilepic.jpg)no-repeat center center;
    background-size: cover;
    height: 500px;
    @include breakpoint(sm) {
      background: url(../images/comp.jpg)no-repeat center center;
      background-size: cover;
      height: 620px;
    }
    @include breakpoint(md) {
      height: 800px;
    }
    @include breakpoint(lg) {
      height: 1000px;
    }
    @media screen and (min-width: 1450px) {
      height: 1200px;
    }
    @media screen and (min-width: 1750px) {
      height: 1248px;
    }
    @media screen and (min-width: 1950px) {
      height: 1500px
    }
    @media screen and (min-width: 2550px) {
      height: 2300px
    }
    @media screen and (min-width: 3000px) {
      height: 100vw;
    }
  }
  &-info {
    position: absolute;
    text-align: center;
    font-weight: 700;
    font-size: 1.2em;
    font-family: 'Montserrat', sans-serif;
    width: 80%;
    @include absolutecenter(x);
    margin-top: 50px;
    color: black;
    &-date {
      color: $orange
    }
    @include breakpoint(sm) {
      visibility: hidden;
    }
  }
  &-title {
    @include absolutecenter(x);
    position: absolute;
    img {
      width: 240px;
    }
    @include breakpoint(sm) {
      visibility: hidden;
    }
  }
}