@import 'variables.scss';
.landing {
  height: 1700px;
  background-color: $offWhite;
  &-background {
    background: url(../images/background.jpg) center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 500px;
    @include breakpoint(sm) {
      background: url(../images/background.jpg) center center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      height: 700px;
    }
    @media screen and (min-width: 900px) {
      height: 900px;
    }
    @include breakpoint(lg) {
      height: 1200px;
    }
    @media screen and (min-height: 900px) {
      height: 1400px;
    }
    @media screen and (min-width: 1440px) {
      height: 1448px;
    }

  }
  &-info {
    position: absolute;
    text-align: center;
    font-weight: 700;
    font-size: 1.2em;
    width: 80%;
    @include absolutecenter(x);
    margin-top: 50px;
    &-date {
      color: $orange
    }
    @media screen and (min-width: 1440px) {
      transform: translate(100px, -590px);
      font-size: 1.9em;
      color:white;
      width: 400px;
    }
  }
  &-title {
    @include absolutecenter(x);
    position: absolute;
    img {
      width: 240px;
    }
    @media screen and (min-width: 1440px) {
      transform: translate(-550px, -545px);
      img {
        width: 400px;
      }
    }
  }
}