@import 'variables.scss';
.landingvideo {

  &-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    text-align: center;
    width: 100%;
  }
  &-videos {
    border: 1px solid red;
    display: block;
    padding: 0 6%;
    @media screen and (min-width: 700px) {
      background-color: yellow;
      padding: 0 15%;
    }
    @include breakpoint(md){
      display: flex;
      padding: 0px 15%;
    }
    &-first {
      position: relative;
      flex: 1;
      border: 2px solid green;
      margin-bottom: 50px;
      @include breakpoint(md){
        margin-bottom: 0px;
        margin-right: 60px;
      }
      img {

      }
    }
    &-second {
      flex: 1;
      border: 2px solid blue;
    }
    img {
      height: auto;
      max-width: 100%;
    }
  }
}