@import 'variables.scss';

.navbar-burger {
  &:focus{
  border: 2px solid black;
  }
}

.navbar-brand {
  padding-left: 4px;
  img {
    height: 42px;
  }
}
span {
  -webkit-transition: all 150ms cubic-bezier(0.645, 0.045, 0.355, 1) !important;
  transition:         all 150ms cubic-bezier(0.645, 0.045, 0.355, 1) !important;
}
.navbar-menu {
  text-align: center;
  font-size: 1.2em;
  font-weight: 700;
}


@keyframes mobileToggle {
  0% {
    opacity: 0.2;
    height: 14px;
  }
  100% {
    opacity: 1;
    height: 250px;

  }
}

.navmenu.is-active{
  padding-left: 0px;
  padding-right: 0px;
  @include breakpoint(sm) {
    padding-left: 12px;
    padding-right: 12px;
  }
  @media (max-width: 1087px) {
    height: 250px;
    animation-name: mobileToggle;
    animation-duration: 0.5s;
  }
  &:hover {
  }
}


.navmenu {
  height: 0px ;
  opacity: 1;
  display: block;
  animation-name: mobileToggleOff;
  animation-duration: 0.5s;
}

@keyframes mobileToggleOff {
  0% {
    opacity: 1;
    height: 250px;
  }
  100% {
    opacity: 0;
    height: 50px;

  }
}

