.navbar {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  height: 70px;
  width: 100%;
  margin: 0 auto;
  background-color: white;
  color: black;
  border-bottom: solid black; }
  @media (min-width: 768px) {
    .navbar {
      align-items: center; } }
  .navbar-icon {
    position: absolute;
    cursor: pointer;
    left: 15px;
    top: 10px;
    width: 70px;
    height: 50px; }
    @media (min-width: 768px) {
      .navbar-icon {
        position: relative;
        top: 0px; } }
  .navbar-burger {
    height: 70px;
    width: 85px; }
    @media (min-width: 768px) {
      .navbar-burger {
        display: none; } }
    .navbar-burger span {
      opacity: 100%;
      position: fixed;
      transition: 0.25s ease-in;
      height: 4px;
      border-radius: 3px;
      background-color: black;
      width: 30px;
      margin: 5px;
      right: 10px;
      display: inline-block; }
    .navbar-burger span:nth-child(1) {
      top: 15px; }
    .navbar-burger span:nth-child(2) {
      top: 25px; }
    .navbar-burger span:nth-child(3) {
      top: 35px; }
    .navbar-burger.open {
      position: relative;
      top: 15x;
      float: right; }
      .navbar-burger.open span:nth-child(1) {
        transform: rotate(135deg);
        top: 24px; }
      .navbar-burger.open span:nth-child(2) {
        opacity: 0; }
      .navbar-burger.open span:nth-child(3) {
        transform: rotate(-135deg);
        top: 24px; }
  .navbar-menu {
    transform: translateY(70px);
    justify-self: flex-end;
    list-style-type: none;
    align-items: center;
    text-align: center;
    position: relative;
    width: 100%; }
    @media (min-width: 768px) {
      .navbar-menu {
        display: flex;
        justify-content: flex-end;
        width: auto;
        transform: translateY(0px); } }
    .navbar-menu-link {
      cursor: pointer;
      transition: 1s ease all;
      padding: 0px 0px;
      background-color: red;
      margin-right: -69px; }
      @media (min-width: 768px) {
        .navbar-menu-link {
          padding: 27px 20px;
          margin-right: 0px; } }
      .navbar-menu-link:hover {
        background-color: green; }

.navbar-menu-link.open {
  background-color: green !important;
  padding: 20px 0px; }
