@import 'variables.scss';


.navbar {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  height: 70px;
  width: 100%;
  margin: 0 auto;
  background-color: white;
  color: black;
  border-bottom: solid black;
  @include breakpoint(sm){
      align-items: center;
  }
  &-icon {
    position: relative;
    cursor: pointer;
    left: 15px;
    width: 70px;
    height: 50px;
  }
  &-burger {
    height: 70px;
    background-color: red;
    width: 70px;
    @include breakpoint(sm){
      display: flex;
      display: none;
    }
    span {
      opacity: 100%;
      position: fixed;
      transition: 0.25s ease-in;
      height: 4px;
      border-radius: 3px;
      background-color: white;
      width: 30px;
      margin: 5px;
      right: 10px;
      display: inline-block;
    }
    span:nth-child(1) {
      top: 15px;
    }
    span:nth-child(2) {
      top: 25px;
    }
    span:nth-child(3) {
      top: 35px;
    }
    &.open {
      position: relative;
      top:15x;
      float: right;
       span:nth-child(1) {
         transform: rotate(135deg);
        top: 24px;
       }
       span:nth-child(2) {
         opacity: 0;
       }
       span:nth-child(3) {
        transform: rotate(-135deg);
        top: 24px;
       }
    }
  }
  &-menu {
    transform: translateY(50px);
    justify-self: flex-end;
    list-style-type: none;
    align-items: center;
    text-align: center;
    @include breakpoint(sm){
      display: flex;
      transform: translateY(0px);
    }
    &-link {
      &:hover {
        background-color: green;
      }
      cursor: pointer;
      padding: 28px 30px;
    }
  }
}
