.navbar-burger:focus {
  border: 2px solid black; }

.navbar-menu {
  text-align: center;
  font-size: 1.2em;
  font-weight: 700; }

@keyframes mobileToggle {
  0% {
    opacity: 0;
    height: 15px;
    color: transparent !important; }
  100% {
    opacity: 1;
    height: 50px;
    color: black !important; } }

.navbar-link {
  animation-name: mobileToggle;
  animation-duration: 1s;
  animation-delay: 0ms;
  -webkit-transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1); }
