@import '../../../styles/variables.scss';

.sociallinks {
  height: 90px;
  background-color: $darkGray;
  &-bar {
    display: flex;
    justify-content: center;
    i {
      transition: 0.2s ease;
      cursor: pointer;
      padding:20px;
      color: white;
      font-size: 2em;
      opacity: 0.8;
      border-bottom: 2px solid $darkGray;
      &:focus {
        outline: 1px solid $orange;
      }
      &:hover {
        transition: 0.2s ease;
        transform: scale(1.1);
        opacity: 1;
        border-bottom: 2px solid $orange;
      }
      @include breakpoint(sm){
        font-size: 2.5em;
      }
    }
  }
}