.tours {
  padding-top: 100px;
  height: 1200px;
  color: white;
  width: 100%;
  line-height: 1.3em;
  font-size: 1em; }
  .tours-title {
    flex-basis: 100%;
    width: 100%;
    text-align: center;
    margin-bottom: 50px; }
  .tours-dates {
    display: flex;
    padding: 0px 20px 0px 20px;
    flex-wrap: wrap;
    margin-bottom: 30px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
    font-size: 1.1em; }
    .tours-dates-date {
      flex-basis: 100%;
      text-align: left;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      font-size: 0.9em;
      padding-bottom: 5px; }
      .tours-dates-date-month {
        font-weight: 700; }
      .tours-dates-date-day {
        font-weight: 700; }
      .tours-dates-date-year {
        font-size: 0.9em;
        font-weight: 400; }
    .tours-dates-venue {
      flex-basis: 100%;
      text-align: left; }
      .tours-dates-venue-city {
        font-size: 1em;
        max-width: 100%;
        font-size: 1em; }
      .tours-dates-venue-name {
        font-weight: 400; }
    .tours-dates-tickets {
      flex-basis: 100%;
      display: flex;
      justify-content: flex-start; }
      .tours-dates-tickets-button {
        align-content: center;
        text-align: center;
        margin-top: 15px;
        margin-bottom: 15px;
        padding: 5px 15px;
        border: 2px solid white;
        font-weight: 700;
        background-color: #191716;
        border-radius: 2px;
        transition: 0.2s ease;
        cursor: pointer;
        flex-basis: 35%;
        font-weight: 400; }
        .tours-dates-tickets-button:hover {
          transition: 0.2s ease;
          background-color: white;
          color: black; }
