.footer {
  color: white;
  font-size: 20px;
  height: 300px; }
  .footer-top {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; }
    @media (min-width: 768px) {
      .footer-top {
        flex-wrap: nowrap; } }
    .footer-top-logo {
      flex-basis: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      padding: 15px 0px; }
      @media (min-width: 768px) {
        .footer-top-logo {
          width: 35%;
          flex-basis: 35%; } }
      @media screen and (min-width: 950px) {
        .footer-top-logo {
          width: 380px;
          flex-basis: 24.5%; } }
      .footer-top-logo img {
        height: 32px; }
        @media screen and (min-width: 400px) {
          .footer-top-logo img {
            height: 38px; } }
        @media screen and (min-width: 520px) {
          .footer-top-logo img {
            height: 42px; } }
        @media screen and (min-width: 850px) {
          .footer-top-logo img {
            height: 48px; } }
        @media screen and (min-width: 950px) {
          .footer-top-logo img {
            height: 50px; } }
    .footer-top-icons {
      display: inline-block; }
      .footer-top-icons i {
        padding: 7px 17px;
        font-size: 1.2em;
        color: white;
        transition: ease 0.2s; }
        @media screen and (min-width: 400px) {
          .footer-top-icons i {
            font-size: 1.4em; } }
        @media screen and (min-width: 400px) {
          .footer-top-icons i {
            font-size: 1.4em; } }
        @media screen and (min-width: 520px) {
          .footer-top-icons i {
            font-size: 1.6em; } }
        @media (min-width: 768px) {
          .footer-top-icons i {
            font-size: 1.22em; } }
        @media screen and (min-width: 850px) {
          .footer-top-icons i {
            font-size: 1.4em; } }
        @media screen and (min-width: 950px) {
          .footer-top-icons i {
            font-size: 1.6em; } }
        .footer-top-icons i:hover {
          transform: scale(1.2); }
